@font-face {
    font-family: "neuro";
    src: url(./fonts/neuropol/NEUROPOL.ttf);
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-family: sans-serif;
    min-width: 70vw;
    box-shadow: inset 0 0 10px black;
    
    
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
    background-image: url('./images/header.jpg');
    background-position: center;
    background-size: contain;
    box-shadow: 0 3px 3px black;
    position: relative;
    font-family: "neuro";
}

.logo{
    width: 12vw;
    height: 12vw;
}


.website_name{
    color: white;
    font-size: 5vw;
}

.search_header{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #0f172a;
    opacity: 90%;
    outline: 1px solid black;
    box-shadow: 0 3px 3px black;
    margin-right: 10vw;
    margin-left: 10vw;
}

.searchbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 1vh;
    
}


.searchbar_labelcontainer{
    color:#f3f3f3;
    font-size: 5vw;
    display: flex;
    justify-content: left;
    margin-bottom: 1vh;
    width: 75vw;
   
}

.searchbar_inputcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.searchbar_input{
    height: auto;
    width: 75vw;
    font-size: 4vw;
    text-align: center;
    appearance: none;
    border: none;
    background-color: transparent;
    color: #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    outline: none;
    
}

.searchbar_input:focus::placeholder{
    color: transparent;
}

.searchbar_btn{
    appearance: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;

}

.searchbar_icon{
    filter: brightness(0) invert(1);
    width: 4vw;
    
}


.github{
    width: 12vw;
}

/*  */
img::before{
    content: '';
    background-image: url('./images/none.png');
}

.imgs{
    width: auto;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
    
    
}

.imgs_title{
    padding: 2vh;
    background-color: black;
    border-radius: 2vw;
    -webkit-border-radius: 2vw;
    box-shadow: 3px 3px 3px black;
    font-size: 5vw;
    text-align: center;
}

.imgs_gpuchip{
    width: auto;
    display: flex;
    justify-content: center;
    gap: 1vw;
}

.imgs_sides{
    display: flex;
    width: 70vw;
    overflow-y: hidden;
    justify-content: space-between; 
    gap: 5%;
}


.imgs_gpu,.imgs_back{
   max-width: 46vw;
   transition: transform .5s;
   cursor: pointer;
}

.imgs_rear,.imgs_io,.imgs_frontpcb,.imgs_backpcb,.imgs_top, .imgs_bottom{
    max-height: 25vw;
    transition: transform .5s;
    cursor: pointer;
}


.imgs_gpu:hover,.imgs_back:hover,.imgs_rear:hover,.imgs_io:hover,.imgs_frontpcb:hover,.imgs_backpcb:hover,.imgs_top:hover, .imgs_bottom:hover{
    transform: scale(1.1);
}


/*  */
.stats{
   display: flex;
   flex-direction: column;
   gap: 5vh;
   
}

.stats_icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    align-items: center;
    height: 20%;
    gap: 1vw;
    
}

.processor, .cores, .tmus, .rops, .memory_size, .memory_type, .bus_width{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-height: 40%;
    width: auto;    
    background-color: #f3f3f3;
    border: 1px solid #bbb;
    padding: 1%;
    box-shadow: 3px 3px 3px grey;
   
}
.processor_val, .cores_val, .tmus_val, .rops_val, .memory_size_val, .memory_type_val, .bus_width_val{
    font-size: 150%;
}

.stats_icons_labels{
    font-size: .65rem;
    color: #78716c;
}

.stats_list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 2vh;
    
}


.stats_list_inner{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 2vw;
    flex-wrap: wrap;
    
}

.stats_header{
    background-image: linear-gradient(125deg, #0f172a,#4d5b70);
    color:#f3f3f3;
    height: 5vh;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    outline: 1px solid black;
    box-shadow: 3px 3px 3px black;
    padding: 2%;
    text-align: center;
}

.stats_list_inner > div{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    outline: 1px dotted black;
    background-color: #f3f3f3;;
    box-shadow: 3px 3px 3px black;
    padding: 2%;
}

@media (min-width: 600px){
    .searchbar_labelcontainer{
        font-size: 2vw;
        width: 60vw;
    }

    .searchbar_input{
        font-size: 2vw;
        width: 60vw;
    }

    .searchbar_icon{
        width: 2vw;
    }

    .github{
        width: 5vw;

    }

    .imgs_title{
        font-size: 2vw;
        border-radius: 1vw;
    }

    .imgs_gpu,.imgs_back{
        max-width: 30vw;
     }

    .imgs_rear,.imgs_io,.imgs_frontpcb,.imgs_backpcb,.imgs_top, .imgs_bottom{
        max-height: 15vw;
    }

    .stats_list{
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1vw;
    }

    .stats_list_inner{
        width: 30vw;
        margin-bottom: 0;
    }
        
}

@media (min-width: 1000px){

    .website_name{
        font-size: 3vw;
    }

    .logo{
        width: 7vw;
        height: 7vw;
    }


    .github{
        margin-right: 1vw;
    }


    .stats_list_inner{
        font-size: 1.25vw;
        width: 20vw;
    }
}